body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  .section-header {
    text-align: center;
    margin-top: 50px;
  }
  
  .section-header h2 {
    font-size: 36px;
  }
  
  /* Form styles */
  .container_medical_record {
    margin: 60px auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .input-box {
    margin-bottom: 20px;
    width: 48%;
  }
  
  .input-box .details {
    display: block;
	text-transform: uppercase;
	color:#00796b;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="date"], input[type="submit"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #00796b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #015349;
  }
  
  /* Footer styles */
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  